{% extends "base.html" %}
{% block content %}

<div class='col-sm-6 col-sm-offset-3'>

{% if obj.user.authenticated %}
            <div class="card">
                <div class="card-content">
                    <a href='{% url "posts:create" %}'>Write a story.....</a>
                </div>
            </div>
			{% endif %}
    <h3>{{ 'Recent Posts' }}</h3>
{% for obj in object_list %}
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
        {% if obj.image %}
         <img src='{{ obj.image.url }}' class='img-responsive' />
        {% endif %}
      <div class="caption post-detail-item">
        <p><h4>@{{ obj.user.username }}</h4></p>
        <p><h5>  posted on {{ obj.publish }} &nbsp; &nbsp; {% if obj.read_time <= 1 %} < 1 Minute {% else %}{{ obj.read_time }} minutes {% endif %} read</h5></p>
        {% if obj.draft %}<h3>Staff only: Draft</h3>{% endif %} {% if obj.publish > today %}<h3>Staff Only: Future Post</h3>{% endif %}
        <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a></h3>
        {{ obj.get_markdown|truncatechars_html:100 }}
      </div>
    </div>
  </div>
<hr/>
</div>
{% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>




</div>

{% endblock content %}